.a-quarter-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.a-quarter-circle.primary {
    background: #f8c226;
}

.a-quarter-circle.right {
    clip-path: circle(600px at right 800px);
}

.a-quarter-circle.left {
    clip-path: circle(600px at left 800px);
}
