<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/global.css">
        <link rel="stylesheet" href="/static/css/pages/login.css">
        <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
		<title>adega.com</title>
    </head>
    <body>
        <div class="a-quarter-circle primary right"></div>
        <div class="container" id="container">
            <div class="left-login">
                <img src="/static/images/login.png" class="left-img" alt="imagens">
            </div>

            <div class="right-login">
                <div class="form-container sign-in-container">
                    <form action="/realizarLogin" method="POST">
                        {% if erro %}
                            <p class="erro"> {{erro}} </p>
                        {% endif %}
                        <h1 class="loginHeader">Login</h1>
                        <div class="container-login-type">
                            <div class="radio group">
                                <input id="store" name="loginType" value="store" type="radio" checked />
                                <label for="store">Sua uma adega</label>
                            </div>
                            <div class="radio group">
                                <input id="client" name="loginType" value="client" type="radio" />
                                <label for="client">Sou um cliente</label>
                            </div>
                        </div>
                        <div class="container-inputs">
                            <div class="input-box">
                                <input id="login" name="login" type="email" placeholder="E-mail" />
                            </div>
                            <div class="input-box">            
                                <input id="senha" name="senha" type="password" placeholder="Senha" />
                            </div>
                        </div>
                        <div class="button-container">
                            <button type="submit" class="button primary rounded">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>