<style>
    .header {
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }
    
    .header ul {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .header > ul > ul {
        justify-content: end;
    }

    .header li {
        list-style: none;
        margin: 0 25px;
        color: #3e3e3e;
    }

    .header li a {
        text-decoration: none;
        color: #3e3e3e;
    }

    .header li:not(.logo-container) a:hover {
        color: #f9ae19;
    }

    .logo-container span {
        display: flex;
        align-items: center;
    }

    .logo-container img {
        width: 65px;
        margin-right: 8px;
    }

    .logo-title {
        font-size: 21px;
        font-weight: 600;
    }

    .logo-title span {
        color: #f9ae19;
    }
    
    .criar-conta{
        color: #f9ae19;
        font-weight: bolder;
    }
</style>
<div class="header">
    <ul>
        <li class="logo-container">
            <a href="/">
                <span class="logo-container">
                    <img src="/static/images/logo.png" alt="" class="logo">
                    <span class="logo-title">
                        <span class="">Adega</span>.com
                    </span>
                </span>
            </a>
        </li>
    
        {% if(request.cookies.get("login", "")) %}

        <li><a href="/produto/cadastro">Cadastro de produto</a></li>
        <li><a href="/produtos">Listagem de produto</a></li>
        <li><a href="/adegas">Adegas</a></li>
        <li><a href="/clientes">Clientes</a></li>

        <ul>
            <li class="sair-container">
                <form action="/logout" id="form_logout" method="POST">
                    <button class="button secondary" >Sair</button>
                </form>
            </li>
        </ul>
        {% else %}
        <li><a href="/adega/cadastro">Adega</a></li>
        <li><a href="#">Entregador</a></li>
        <li><a href="#">Carreira</a></li>

        <ul>
            <li><a href="/cliente/cadastro"> <span class="criar-conta"> criar conta </span> </a></li>
            <li class="sair-container">
                <form action="/logout" id="form_logout" method="POST">
                    <button class="button secondary" >Login</button>
                </form>
            </li>
        </ul>
        {% endif %}       
    </ul>
</div>