<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../assets/css/global.css" />
        <link rel="stylesheet" href="../assets/css/pages/cadastro-clientes.css" />
        <link rel="icon" type="image/x-icon" href="../assets/images/logo.png">
        <title>adega.com</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
        <script>
            window.addEventListener('load', (e) => new CustomMask());

            async function excluir() {
                if (confirm("Deseja excluir o cadastro?")) {
                    await $.ajax('/cliente/{{ cliente["id_cliente"] }}', { method: 'delete' });
                    window.location = "/clientes";
                }
            }

        </script>
    </head>
    <body>
        <div class="a-quarter-circle primary right"></div>
        {% include 'components/header.html' %}
        <div class="container" id="container">
            <div class="left-register">
                <img src="../assets/images/formCliente.png" class="left-img" alt="imagens">
            </div>

            <div class="right-register">
                <div class="form-container-register register-in-container">
                    <form action="/cliente/{{ cliente['id_cliente'] }}" method="POST">
                        {% if cliente['id_cliente'] != 'cadastro' %}
                            <h1>Editar Cliente</h1>
                        {% else %}
                            <h1>Cadastrar Cliente</h1>
                        {% endif %}
                    
                        <div class="input-group">
                            <div class="input-box">
                                <label for="nomeCliente">Nome *</label>
                                <input id="nomeCliente" type="text" name="nomeCliente" value="{{cliente['nomeCliente']}}" placeholder="Seu nome" required>
                                <span class="helper hide"></span>
                            </div>
        
                            <div class="input-box">
                                <label for="cpf">CPF *</label>
                                <input Id="cpf" type="text" name="cpf" value="{{cliente['cpf']}}" placeholder="XXX.XXX.XXX-XX" required>
                                <span class="helper hide"></span>
                            </div>

                            <div class="input-box">
                                <label for="cep">CEP *</label>
                                <input id="cep" type="text" name="cep" value="{{cliente['cep']}}" placeholder="XXXXX-XXX" required>
                                <span class="helper hide"></span>
                            </div>

                            <div class="input-box">
                                <label for="cidade">Cidade *</label>
                                <input id="cidade" type="text" name="cidade" value="{{cliente['cidade']}}" placeholder="Sua cidade" required>
                                <span class="helper hide"></span>
                            </div>

                            <div class="input-box">
                                <label for="rua">Rua *</label>
                                <input id="rua" type="text" name="rua" value="{{cliente['rua']}}" placeholder="Sua rua" required>
                                <span class="helper hide"></span>
                            </div>

                            <div class="input-box">
                                <label for="bairro">Bairro *</label>
                                <input id="bairro" type="text" name="bairro" value="{{cliente['bairro']}}" placeholder="Seu bairro" required>
                                <span class="helper hide"></span>
                            </div>

                            <div class="input-box">
                                <label for="nResidencia">Nº residência *</label>
                                <input id="nResidencia" type="text" name="nResidencia" value="{{cliente['nResidencia']}}" placeholder="Numero da residencia" required>
                                <span class="helper hide"></span>
                            </div>

                            <div class="input-box">
                                <label for="complemento">Complemento</label>
                                <input id="complemento" type="text" name="complemento" value="{{cliente['complemento']}}" placeholder="Complemento do local">
                                <span class="helper hide"></span>
                            </div>

                            <div class="input-box">
                                <label for="telefone">Telefone *</label>
                                <input id="telefone" type="text" name="telefone" value="{{cliente['telefone']}}" placeholder="Seu telefone" required>
                                <span class="helper hide"></span>
                            </div>       
                        </div>
                        <div class="container-buttons">
                            <button class = "button primary">Salvar</button>

                            {% if cliente['id_cliente'] != 'cadastro' %}
                                <button class="button primary" onclick="excluir()">
                                    Excluir
                                </button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
